name: "Run Tests Template"

on:
  workflow_call:
    inputs:
      FullyQualifiedName:
        required: true
        type: string

permissions:
  contents: read
  pull-requests: write
  checks: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      Solution_Name: "Finance.NET.slnx"
      Test_Project_Path: "tests/Tests.csproj"     
      FORCE_COLOR: "true"
      DOTNET_LOGGING__CONSOLE__COLORBEHAVIOR: Enabled
      FullyQualifiedName: ${{ inputs.FullyQualifiedName }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: develop
        fetch-depth: 0 

    - name: Install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x

    - name: Restore
      run: dotnet restore "${{ env.Solution_Name }}"

    - name: Build
      run: dotnet build "${{ env.Solution_Name }}" --configuration Release --no-restore

    - name: Run test
      shell: pwsh
      run: dotnet test "${{ env.Test_Project_Path }}" --configuration Release --logger "console;verbosity=detailed" --filter "FullyQualifiedName~$env:FullyQualifiedName"
      env:
          FinanceNet__AlphaVantageApiKey: ${{ secrets.ALPHAVANTAGEAPIKEY }}
      